html{background: url("")  ;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
p{
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.Button{
  text-align:center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  display: block;

}
