html{background: url("https://scontent.fsnc1-4.fna.fbcdn.net/v/t1.0-9/15241783_1792130707668682_8756376551119831210_n.jpg?oh=5e5d90d2cc6f378b0466cda522318d3f&oe=58C1FCD4")  ;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

p{
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-color: white;
}
.Button{
  text-align:center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  display: block;

}
