html{background: url("http://ichef-1.bbci.co.uk/news/660/cpsprodpb/14C52/production/_92847058_c3c1256f-1f69-45fe-ade5-a1822e3d9b9c.jpg")  ;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

h1{
  color:black;
  background-color: white;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-right: 70px;
  margin-left: 70px;
  font-size: 100px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
p{
  font-size: 50px;
  text-align: center;
  color: white;
}
h3{
  text-align: center;
}
ul{

}

.button{
  align-items: center;

}
