html{background: url("https://scontent.fsnc1-4.fna.fbcdn.net/v/t1.0-9/s851x315/15284855_1860406067524298_7958300632667025048_n.jpg?oh=d18024e70ee04ded74bd38e17aaec896&oe=58F03957")  ;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

h1{
  color:black;
  background-color: white;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-right: 70px;
  margin-left: 70px;
  font-size: 100px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
p{
  font-size: 50px;
  text-align: center;
  color: white;
}
h3{
  text-align: center;
}
ul{

}

.button{
  align-items: center;

}
